---
{
  "title":"helo",
  "layout":"products"
}
---

<div class="flex w-full overflow-x-auto">
  <table class="min-w-fit">
    <thead class="bg-gray-100 dark:bg-gray-700">
      <tr>
        <% site.data.chemical[0].forEach(cell => { %>
          <th scope="col"
          class="py-3 px-3 border-x text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
          <%-cell%>
        </th>
        <% }) %>
      </tr>
    </thead>
    <tbody>
      <% site.data.chemical.forEach((row,index) => { if(index==0){ return } %>
      <tr
        class="border-b odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700 dark:border-gray-600">
        <% row.forEach(cell => { %>
        <td class="py-4 border-x px-3 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
          <%-cell%>
        </td>
        <% }) %>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>