<div class="h-40 bg-red-500 relative">
  <div class="absolute bottom-0 translate-y-1/2 translate-x-1/2 w-1/2 mx-auto bg-white p-2 rounded-lg shadow-lg flex justify-center space-x-2">
    <span>Home</span>
    <span>></span>
    <span>Product</span>
  </div>
</div>