<div class="container mx-auto px-8 flex flex-col-reverse md:flex-row mt-2 md:space-x-5">
  <div class="md:w-1/4 lg:w-1/5 my-5 md:mt-0">
    <div class="">
    </div>
  </div>
  <div class="md:w-3/4 lg:w-4/5 lg:px-4">
    <%- page.content %>
  </div>
</div>